PORT=5000
BASE_URL=http://localhost:5173
MONGODB=mongodb://localhost:27017/
SECRET=wanchai_se_secret
node_mode=development   

CLOUDINARY_CLOUD_NAME=dfwe2sbbv
CLOUDINARY_API_KEY=614981496992554
CLOUDINARY_API_SECRET=gd2TgU4mrFIw6SR_1D56mG0zNj8
